/* 这里是你自己写的全局css样式 */
view,text,swiper-item,image,navigator{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*图片高度自适应*/
	height: auto;
}
/*常见样式封装*/
/*flex布局*/
.u-f,.u-f-ac,.u-f-ajc,.u-f-ajs{
    display: flex;
}
/*垂直方向居中*/
.u-f-ac,.u-f-ajc,.u-f-ajs{
    align-items: center;
}
/*垂直竖直方向居中*/
.u-f-ajc{
    justify-content: center;
}
/*两边对齐*/
.u-f-ajs{
    justify-content: space-around;
}

/*字体省略样式*/
.eps,.eps-1,.eps-2{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.eps-1{
    -webkit-line-clamp: 1;
}
.eps-2{
    -webkit-line-clamp: 2;
}
.eps-3{
    -webkit-line-clamp: 3;
}

